h1{color: blue;}
header {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    color: antiquewhite;
}

nav{
    background-color: azure;
    padding: 10px 0;
    
}
nav{

    background-color: beige;
    padding: 10px 0%;
}

nav ul{

    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;

}

nav ul li  {
    flex: 1;
    text-align: center;

}
s
nav ul li a {
    display: block;
color: rgb(204, 61, 18);
text-decoration: none;
font-weight: bold;
padding: 15px 0;
transition:background-color 0.3s;
}

nav ul li a:hover{

    background-color:rgb(204, 22, 22)
    

}

section {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(70, 202, 103);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(rgb(180, 170, 192), rgb(95, 126, 95), rgb(212, 215, 216));

    }
label {

    display: block;
    font-weight: bold;
    margin-bottom: 8%;
    border: 1px solid #ccc;
    background-color: cornsilk;


}
.sesion1{
    display: grid;
    grid-template-columns: 50% 50% ;
    }
    .Sesion2{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

@media only screen and (max-width:600px){
    .sesion1{
        display: grid;
        grid-template-columns: auto;
    }
    .Sesion2{
        display: grid;
        grid-template-columns: auto;
    }
    #nav-toggle{
        display:block;

    }
    nav ul{
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul ul{
        position: static;
        width: 100%;
    }
}
@media (max-width: 600px){
    h1{
        font-size: 20px;
    }
}

